# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vs/Game-Engine/FileContentIndex/a360692e-e1f3-4560-9085-1e4fec75874c.vsidx
.vs/Game-Engine/FileContentIndex/d820f39f-08d3-4a28-b2f0-445de8732d29.vsidx
.vs/Game-Engine/FileContentIndex/a360692e-e1f3-4560-9085-1e4fec75874c.vsidx
/.vs/Game-Engine/FileContentIndex
*.vsidx
/.vs
